<div class="col-md-9">
  <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-md-12">
                  <h4>Your Profile</h4>
                  <hr>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  
                        <div class="form-group row">
                          <label for="username" class="col-4 col-form-label">User Name</label> 
                           {{user?.username}}
                        </div>
                        <div class="form-group row">
                          <label for="email" class="col-4 col-form-label">Email</label> 
                          {{user?.email}}
                        </div>
                        <form>
                        <div class="form-group row">
                          <label for="newpass" class="col-4 col-form-label">New Password</label> 
                          <div class="col-8">
                            <input id="newpass" #newpass name="newpass" [(ngModel)]="newPasword" placeholder="New Password" class="form-control here" type="password">
                            <input type="checkbox" (click)="myFunction()">Show Password
                          </div>
                        </div> 
                        
                        <div class="form-group row">
                          <div class="offset-4 col-8">
                            <button (click) = "changePassword()" name="submit" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#success">Change password</button>
                          </div>
                        </div>
                      </form>
              </div>
          </div>
          
      </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="success" data-backdrop="static" role="dialog" aria-labelledby="successLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successLabel">Survey</h5>
      </div>
      <div class="modal-body">
          <p>You have successfully changed your password!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onOk()">OK</button>
      </div>
    </div>
  </div>
</div>