<p> Question: </p>
{{question.questionText}}
<div *ngIf="multipleChoices">Feel free to choose more answers!</div>
<div *ngIf="!multipleChoices">Please choose only one answer!</div>
<form>
    <ng-container *ngFor="let ans of question.answerList; let i = index">
  <br>
    <ng-container *ngIf="multipleChoices"><input class="input" type="checkbox">{{ans.answerText}}    </ng-container>
    <ng-container *ngIf="!multipleChoices"><input class="input" (click) = "buttonIsClicked(i)" name="radio-button" type="radio" value="{{ans.answerText}}">{{ans.answerText}}  </ng-container>
</ng-container>
</form>