<div class="up">
    <div class="buttons">
        <button class="btn btn-lg btn-info" (click)="onNew()"><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="onNew()"></i>&nbsp;Create new survey</button>
        <button class="btn btn-lg btn-info op" (click)="onManage()"><i class="fa fa-sticky-note" aria-hidden="true" (click)="onManage()"></i>&nbsp;Manage your surveys</button>
        <button class="btn btn-lg btn-info" (click)="onAll()"><i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;See all surveys</button>
    </div>
</div>

