<!-- <div class="container">
    <h1 class="text-align:center">WELCOME TO OUR HOME PAGE</h1>
    <hr>
    <p class="">Coming soon!</p>
</div> -->

<div class="bg"></div>
<div class="home">
    <div class="up" style="top: 5.7%;">
        <div class="jumbotron">Welcome!</div>
    </div>
    <div class="down" style="top: 50%;">
        <div class="buttons">
            <a href="/new-survey" class="btn btn-lg btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Create new survey</a>
            <a href="/home" class="btn btn-lg btn-info op"><i class="fa fa-sticky-note" aria-hidden="true"></i> Manage your surveys</a>
            <a href="/all-surveys" class="btn btn-lg btn-info"><i class="fa fa-list-ul" aria-hidden="true"></i> See all surveys</a>
        </div>
    </div>
</div>

