


<form (ngSubmit)="takeLoginData(f)" #f="ngForm"> 
    <div id = "loginform">
    <div class="container">
    <!--  <label for="uname">Please Enter Username</label><br> -->
    <br>
      <input type="text"  name="uss"  ngModel style="width: 350px;" placeholder="Enter Username"required><br>
     <br>
      <input type="password"  name="pass" ngModel style="width: 350px;" placeholder="Enter Password" required> <br> <br>
      <button style="width: 170px;" type="submit">Login</button>
      <button  style="width: 170px;"type="button" class="cancelbtn">Cancel</button>
     </div>
    <div class="container" >
      <span class="psw">Forgot <a href="#">password?</a></span>
      <span class="psw">No account?<a href="#"> Register!</a></span>
    </div>
    </div>
</form>