.survey {
    margin: 0 auto;
    padding: 30px 0;
    background: linear-gradient(to right, #bdc4c1, #e4dfe1);
    font-family: 'Roboto', sans-serif;
    border: 1px solid #f3f3f3;
}

.content {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.survey h2 {
    color: #444343;
    margin: 0 0 15px;
    text-align: center;
}

.font-sm {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.col-centered{
    margin: 0 auto;
    float: none;
}

.input {
    text-align:center;
 }

 .center {
    text-align: center;
 }

 .left {
     left: 20px;
     padding-left: 8%;
     padding-right: 8%;
 }

 .answers {
     left: 10%;
 }

 .smallprnt {
     font-size: 70%;
     font-style: italic;
 }

 .font {
     font-size: 115%;
 }