<div class="survey container">
    <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
      <h2 class="center"> {{survey.name}} </h2>
      <hr>
      <p class="center">{{survey.description}}</p>
      <hr>
<div class="left">
      <ng-container *ngFor="let question of survey.questionList; let i = index">
            <div>
                <form class="form-inline">
                <strong>{{ i + 1 }}.&nbsp;{{question.questionText}}</strong>
                </form>
                       <!-- List all answers in a question -->
                    <ng-container *ngFor="let answer of question.answerList; let i = index" class="font">
                         <!-- Checkbox -->
                    <ng-container *ngIf="question.multipleChoices">
                        <input *ngIf="survey.open" class = "input answers" type = "checkbox"  name = "{{answer.id}}" value = "{{answer.answerText}}" ngModel > {{answer.answerText}}
                    </ng-container>
                        <!-- Radio -->
                    <ng-container *ngIf="!question.multipleChoices">
                        <input *ngIf="survey.open" class = "input" type = "radio"  name = "{{question.id}}"  value = "{{answer.answerText}}" ngModel> {{answer.answerText}}
                    </ng-container>
                    <br>
                    </ng-container>
                    <div class="bbr"><br></div>
                    <div *ngIf="question.multipleChoices" class="smallprnt">*One or more answers</div>
                <hr>
            </div>
        </ng-container>
    </div>
      <div align="center">
            <button *ngIf="survey.open" class="btn btn-submit btn-primary" data-toggle="modal" data-target="#success">Submit!</button>
      </div>
    </form>
</div>

  <!-- Modal -->
  <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="successLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successLabel">Survey</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Thank you for participating! You can check out other surveys.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="home()">No, thanks</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="redirection()">Check it out</button>
        </div>
      </div>
    </div>
  </div>