.survey {
    margin: 0 auto;
    padding: 30px 0;
    background: linear-gradient(to right, #e6e6e6, #f0f0f0);
    font-family: 'Roboto', sans-serif;
    border: 1.2px ridge #b1aeae;
}

.content {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.survey h2 {
    color: #444343;
    margin: 0 0 15px;
    text-align: center;
}

.font-sm {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.col-centered{
    margin: 0 auto;
    float: none;
}

.input {
    text-align:center;
 }

 .center {
    text-align: center;
 }

 .left {
     left: 20px;
     padding-left: 8%;
     padding-right: 8%;
 }

 .answers {
     left: 10%;
 }

 .smallprnt {
     font-size: 70%;
     font-style: italic;
 }

 .font {
     font-size: 115%;
     font-weight: 200;
 }

 .bbr {
     line-height: 20%;
 }

 .alert {
     left: 40%;
     width: 20%;
     vertical-align: middle;
     align-content: center;
 }

 .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    overflow-x: hidden;
    background-size: cover;
    top: 0;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SImAn91gin31gtxk/stock-market-fluctuations-graph-on-screen-indexes-going-up-and-down-statistics-electronic-chart-with-stock-market-fluctuations_h6zdiquyx_thumbnail-full12.png);    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}
