.row-fluid {
    display: flex;
}

.btn {    
    height: 35px;
    width: 35px;
}

.input {
    width: 90%;
    border: 1px ridge #b1aeae;
}

.line {
    padding-inline-start: 1%;
    inline-size: 100%;
}