<div class="container">
    <p>Question:</p><div class="row-fluid">
    <input type="text" placeholder="Question text" class="input form-control form-control-sm" [(ngModel)]="question.questionText">
    <button class="btn button" (click)="addAnswer()">+</button>  <button (click)="deleteQuestion()" class="btn button">-</button><br></div>
    <div class="justify-content-center col-lg-10">
    <form>
    <app-survey-answer *ngFor="let answer of question.answerList; let i = index" (deleteEvent) = "deleteEventHandler($event)" [answerId]= "i" [srvAnswer]="answer"></app-survey-answer>
    </form>
    <input class = "btn button" type="checkbox" [(ngModel)]="question.multipleChoices"> Allow choosing multiple choices?
    </div>
    <br>
    </div>