.survey {
    margin: 0 auto;
    padding: 30px 0;
    background: linear-gradient(to right, #dfdddd, #f0f0f0);
    font-family: 'Roboto', sans-serif;
    border: 2px ridge #b1aeae;
}

.content {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.survey h2 {
    color: #636363;
    margin: 0 0 15px;
    text-align: center;
}

.font-sm {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.col-centered{
    margin: 0 auto;
    float: none;
}

.input {
    text-align:center;
    border: 1px ridge #b1aeae;
 }

 .bg {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background-size: cover;
    top: 0;
    opacity: 0.2;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SImAn91gin31gtxk/stock-market-fluctuations-graph-on-screen-indexes-going-up-and-down-statistics-electronic-chart-with-stock-market-fluctuations_h6zdiquyx_thumbnail-full12.png);    background-repeat: no-repeat;
    background-position: center;
    top: 5.7%;
  }

  .lft {
    left: 35%;
}

.font {
    font-size: 95%;
}

.invalid-feedback {
    text-align: center;
}