.table {
    opacity: 100%;
}

.bg {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background-size: cover;
    top: 0;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SImAn91gin31gtxk/stock-market-fluctuations-graph-on-screen-indexes-going-up-and-down-statistics-electronic-chart-with-stock-market-fluctuations_h6zdiquyx_thumbnail-full12.png);    background-repeat: no-repeat;
    background-position: center;
    top: 5.7%;
    opacity: 0.4;
}

.font-italic {
    font-style: italic;
    color: rgb(82, 116, 116);
}