
<body>
    <div class="signup-form">	
        <form (ngSubmit)="takeLoginData(f)" #f="ngForm">
            <h2>Sign in</h2>
              <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon"></span>
                <input class="form-control" type="text" name="username" #username="ngModel" ngModel [(ngModel)] ="user.username" required placeholder="Username" [ngClass]="{'is-invalid': username.invalid && (username.dirty || username.touched)}">
                <div class="invalid-feedback" *ngIf="username.invalid && (username.dirty || username.touched)">Please enter your username or e-mail!</div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon"></span>
                <input class="form-control" type="password" name="password" #password="ngModel" ngModel [(ngModel)] ="user.password" required placeholder="Password" [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}" [disabled]="lgdin">
                <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">Please enter your password!</div>
              </div>
              </div>     
              <div class="form-group">
                  <button type="submit" [disabled]="f.invalid" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#signIn">Sign In</button>
              </div>
              <div>
                    <span class="font">Forgot <a data-toggle="modal" data-target="#forgotPasswordModal" class="font-highlights">password?</a></span>
                    <span *ngIf="!lgdin" class="font">No account? <a (click)="registration()" class="font-highlights">Register!</a></span>
              </div>
          </form>
      </div>
</body>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" data-backdrop="static" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalLabel">Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Bodeeeeey wazuuuuuuuuh</p>
          <input class="form-control form-group" [(ngModel)]="email" type="email" #mail="ngModel" email placeholder="Enter your e-mail here" [ngClass]="{'is-invalid': mail.invalid && (mail.dirty || mail.touched)}">
          <div class="invalid-feedback" *ngIf="mail.invalid && (mail.dirty || mail.touched)">This is not e-mail!</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="stuff()">Send</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="signIn" data-backdrop="static" role="dialog" aria-labelledby="signInLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInLabel">Survey</h5>
        <button *ngIf="!lgdin" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button *ngIf="!lgdin" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="lgdin" type="button" class="btn btn-primary" data-dismiss="modal" (click)="onOk()">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal not confirmed -->
<div class="modal fade" id="notConfirmed" data-backdrop="static" role="dialog" aria-labelledby="notConfirmedLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notConfirmedLabel">Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>You have to confirm your acconut!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>