
<body>
    <div class="signup-form">	
        <form (ngSubmit)="takeLoginData(f)" #f="ngForm">
            <h2>Sign in</h2>
              <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon"></span>
                <input class="form-control" type="text" name="username" #username="ngModel" ngModel [(ngModel)] ="user.username" required placeholder="Username or e-mail" [ngClass]="{'is-invalid': username.invalid && (username.dirty || username.touched)}">
                <div class="invalid-feedback" *ngIf="username.invalid && (username.dirty || username.touched)">Please enter your username or e-mail!</div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                <span class="input-group-addon"></span>
                <input class="form-control" type="password" name="password" #password="ngModel" ngModel [(ngModel)] ="user.password" required placeholder="Password" [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}">
                <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">Please enter your password!</div>
              </div>
              </div>     
              <div class="form-group">
                  <button type="submit" [disabled]="f.invalid" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#badCredentials">Sign In</button>
              </div>
              <div>
                    <span class="font">Forgot <a href="#" class="font-highlights">password?</a></span>
                    <span class="font">No account? <a href="registration" class="font-highlights">Register!</a></span>
              </div>
          </form>
      </div>
</body>

<!-- Modal -->
<div class="modal fade" id="badCredentials" role="dialog" aria-labelledby="badCredentialsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="badCredentialsLabel">Survey</h5>
        <button *ngIf="!lgdin" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button *ngIf="!lgdin" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="lgdin" type="button" class="btn btn-primary" data-dismiss="modal" (click)="onOk()">OK</button>
      </div>
    </div>
  </div>
</div>